.card-img-top.primary-photo {
	height: 365px;
	object-fit: cover;
}

.col-12.col-md-4 {
    overflow: hidden;
    margin: 20px 0;
}


.card-img-overlay {
    background-color: hsla(0, 0%, 0%, 0.72);
    color: hsl(0, 0%, 100%);
    opacity: 0;
    transition: 0.5s ease;
}

.card-img-overlay:hover {
    padding: 100px 0;
	opacity: 2;
    cursor: pointer;
}

.col a .img-movie:hover {
    transform: scale(1.5);
}
